# Ignore Play! working directory #
.eclipse
.cache
.history

*.iml
*.eml

dist
logs
target
tmp
test-result

server.pid

tmp/
bin/
project/project
project/target

/out
/db
/modules
/target

/logs/
/dist/
/.idea
/*.iml
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

project/activator-sbt-echo-play-shim.sbt
project/activator-sbt-eclipse-shim.sbt
project/activator-sbt-idea-shim.sbt
